
.SignupPage {
  align-items: center;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 15;
}

  .SignupPage label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 15px;
  }

  .SignupPage input[type="password"], input[type="email"], input[type="text"],input[type="name"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    border: 1px solid #ec68d4;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #e58ee7;
  }

  .SignupPage  button[type="submit"] {
    display: block;
    width: 150%;
    padding: 15px;
    margin-top: 45px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e58ee7;
    color: #fff;
    cursor: pointer;
  
  }

