*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(235, 139, 224, 0.1);
    margin-top: 70px;
  }
  .profile-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .img{
  
    height:40px;
    display: inline-block;
    margin: 5px;
   }