button{
    text-decoration: none;
    width: 10%;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e58ee7;
    color: #fff;
    cursor: pointer;
}
input[type="text"]{
    width: 14%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ec68d4;
    border-radius: 5px;
}
textarea{
    width: 14%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ec68d4;
    border-radius: 5px;
}
input[type="number"]{
    width: 5%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ec68d4;
    border-radius: 5px;
}
label{
display: block;
 width: auto;
 top: 10px;
 left: 50px;
 padding: 5px 5px;
 border-radius: 20px;
}
