.boton1 {
    background-color: #e58ee7;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }
  
  .boton2 {
    background-color: #e58ee7;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
  }