.botone-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .botone {
    width: 100px;
    margin-right: 10px;
  }
  
  .botone1 {
    width: 100px;
    margin-right: 10px;
  }